.navbar.bg-body-custom {
    background-color: #17A3A4;
    border-bottom-left-radius: 50px;
}
.navbar.bg-body-custom a {
    color: #fff;
}
.btn-success {
    background-color: #40CC9B;
    --bs-btn-hover-bg: #30a079;
    --bs-btn-hover-border-color: #36b98b;
    --bs-btn-active-bg: #30a079;
    --bs-btn-active-border-color: #30a079;
    --bs-btn-border-color: #30a079;
}
.divider-title {
    background-image: url(../images/divider.png);
    background-repeat: no-repeat;
    background-position-y: 40px;
    background-size: auto;
    height: 60px;
}
.divider-title-center {
    background-image: url(../images/divider.png);
    background-repeat: no-repeat;
    background-position-y: 40px;
    background-size: auto;
    height: 60px;
    background-position-x: 50%;
}
.divider-title-footer {
    background-image: url(../images/divider-footer.png);
    background-repeat: no-repeat;
    background-position-y: 40px;
    background-size: auto;
    height: 60px;
}
.divider-title-sidebar {
    background-image: url(../images/divider-footer.png);
    background-repeat: no-repeat;
    background-position-y: 40px;
    background-size: auto;
    height: 60px;
}
.carousel-item {
    transition: transform 0.8s ease, opacity .1s ease-out;
}
.fasilitas-sekolah .col {
    margin: 20px;
    padding: 15px;
    border: 1px solid #eee;
    border-radius: 5px;
}
@media (min-width: 768px) {
    #headerSlide .d-md-block {
        display: block !important;
        position: absolute;
        top: 40%;
        text-align: left;
    }
    #headerSlide .d-md-block h5 {
        font-size: 3rem;
    }
    #headerSlide .d-md-block p {
        font-size: 1.2rem;
    }
}
#tenagaPengajar .card {
    width: fit-content;
}
#tenagaPengajar .row .col {
    text-align: -webkit-center;
}
#tenagaPengajar .card .card-body .card-link {
    position: absolute;
    width: 100%;
    height: 50px;
    bottom: 0;
    padding: 10px;
    text-decoration: none;
    color: #fff;
    text-align: left;
    background-color: rgb(0,0,0,0.41);
}
#testimoni {
    background-image: url(../images/bg-testimoni.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#testimoni .card {
    background-color: #47C58F;
    color: #fff;
}

#testimoni .card .testimoni-photo {
    margin-left: 10px;
}

#gallery img.gallery-item {
    width: 100%;
}

#berita ul.content-list-berita {
    display: flex;
    flex-wrap: wrap;
    padding: 0; margin: 0;
    justify-content: center;
}
#berita .list-group-item {
    border: 0px;
}
#berita .list-group-item .card {
    width: 310px;
}
#frmContact .form-text {
    color: #959595;
}
#footer {
    background-color: #145778;
}
#footer h5, #footer p {
    color: #fff;
}
#footerCopyright {
    height: 71px;
    background-color: #17A3A4;
}
ul.menu-widget-footer {
    list-style-type: none;
    padding-left: 0rem;
    padding-right: 1rem;
}
ul.menu-widget-footer li {
    margin-bottom: 1.2rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px dashed #679DB7;
}
ul.menu-widget-footer li a {
    text-decoration: none;
    color: #BBE3F8;
    margin-bottom: 2rem;
}
ul.menu-widget-sidebar {
    list-style-type: none;
    padding-left: 0rem;
    padding-right: 1rem;
}
ul.menu-widget-sidebar li {
    margin-bottom: 1.2rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px dashed #40CC9B;
}
ul.menu-widget-sidebar li a {
    text-decoration: none;
    color: #212529;
    margin-bottom: 2rem;
}
.main-menu li.nav-item {
    margin-left: 1.5rem;
}
.main-menu .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; /* remove the gap so it doesn't close */
}
.main-menu .dropdown .dropdown-menu {
    background-color: #2d2d2d;
}
.main-menu .dropdown .dropdown-divider {
    border-top: 1px solid #4d4d4d;
}
.main-menu .dropdown .dropdown-menu a {
    color: #fff;
}
.main-menu .dropdown:hover .dropdown-menu a:hover {
    background-color: #2d2d2d;
    color: #40CC9B;
}
#mainMenu.scrolledDown {
    border-bottom: 5px solid #17A3A4;
}
#footerCopyright {
    color: #fff;
    padding-top: 1.5rem;
}
#footerCopyright .list-group {
    justify-content: center;
}
#footerCopyright .list-group .list-group-item {
    border: none;
    background: none;
    color: #fff;
    padding: 0px 10px 0px 10px;
}
#headerSinglePage {
    height: 250px;
    background-image: url(../images/header-single-page.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}
#headerSinglePage h3 { 
    margin-top: 10rem;
}
#headerSinglePage ul { 
    display: flex;
    list-style: none;
    padding-left: 0px;
}
#headerSinglePage ul li { 
    margin-right: 0.5rem;
}
#headerSinglePage ul li a { 
    text-decoration: none;
    color: #fff;
}
#headerSinglePage ul li:after { 
    content: "»";
    margin-left: 0.5rem;
}
#headerSinglePage ul li:last-child:after { 
    content: "";
}
#main main article {
    padding-right: 3rem;
}
.misi-sekolah {
    list-style-image: url(../images/list-custom-icon.png);
}
.misi-sekolah li {
    padding-left: 1rem;
    margin-bottom: 1rem;
}
#aplikasiDataSiswa main {
    width: 28rem;
}
#aplikasiDataSiswa main .form-login-area {
    border: 1px solid #ccc;
    border-radius: 1rem;
    padding: 2rem;
    text-align: left;
}

#pesanKepalaSekolah {
    background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #6a61f3, #dd00f3, #dd00f3);
    background-size: 1800% 1800%;

    -webkit-animation: rainbow 50s ease infinite;
    -z-animation: rainbow 50s ease infinite;
    -o-animation: rainbow 50s ease infinite;
      animation: rainbow 50s ease infinite;
}


/* raindbow bg animation untuk section pesanKepalaSekolah */

  @-webkit-keyframes rainbow {
      0%{background-position:0% 82%}
      50%{background-position:100% 19%}
      100%{background-position:0% 82%}
  }
  @-moz-keyframes rainbow {
      0%{background-position:0% 82%}
      50%{background-position:100% 19%}
      100%{background-position:0% 82%}
  }
  @-o-keyframes rainbow {
      0%{background-position:0% 82%}
      50%{background-position:100% 19%}
      100%{background-position:0% 82%}
  }
  @keyframes rainbow { 
      0%{background-position:0% 82%}
      50%{background-position:100% 19%}
      100%{background-position:0% 82%}
  }